In [1]:
'''
import data
'''

import pandas as pd

data2016 = pd.read_json("raw/moonboard_problems_setup_2016.json")

data2016 = data2016.transpose()

'''
Clean data for 2016 as we have more data for it.
We see that we have 12 rows and are only interested in grade and moves
Note that we must check homogenity across other parameters.
'''
print("Size of Datas")
print(data2016.shape)


print("Row labels")
print(data2016.columns)

print(data2016['Method'].value_counts())
print(data2016['MoonBoardConfigurationId'].value_counts())
print(data2016['Holdsetup'].value_counts())

data2016 = data2016.drop(columns=['Method', 'Name', 'MoonBoardConfigurationId', 'Setter',
       'Rating', 'Repeats', 'Holdsetup', 'IsBenchmark', 'IsAssessmentProblem', 'DateInserted'])

Size of Datas
(25907, 12)
Row labels
Index(['Method', 'Name', 'Grade', 'MoonBoardConfigurationId', 'Setter',
       'Rating', 'Repeats', 'Holdsetup', 'IsBenchmark', 'IsAssessmentProblem',
       'Moves', 'DateInserted'],
      dtype='object')
Feet follow hands    25907
Name: Method, dtype: int64
0    25907
Name: MoonBoardConfigurationId, dtype: int64
{'Id': 1, 'Description': 'MoonBoard 2016', 'HoldLayoutId': 0}    25907
Name: Holdsetup, dtype: int64

In [2]:
#display of clean database
df = data2016
df

       Grade                                              Moves
341208   8A+  [{'Id': 1910055, 'Description': 'K18', 'IsStar...
341206   6B+  [{'Id': 1910040, 'Description': 'F5', 'IsStart...
341205   6B+  [{'Id': 1910030, 'Description': 'F5', 'IsStart...
341204   6B+  [{'Id': 1910021, 'Description': 'F5', 'IsStart...
341199    6C  [{'Id': 1909973, 'Description': 'F5', 'IsStart...
...      ...                                                ...
19219     7A  [{'Id': 1518030, 'Description': 'C5', 'IsStart...
19218     7A  [{'Id': 1844764, 'Description': 'B10', 'IsStar...
19217    6B+  [{'Id': 1518015, 'Description': 'F5', 'IsStart...
19216    6B+  [{'Id': 1518007, 'Description': 'F5', 'IsStart...
19215    6B+  [{'Id': 1518000, 'Description': 'E6', 'IsStart...

[25907 rows x 2 columns]

In [3]:
#display of an example set of moves
print(df.iloc[0]["Grade"])
print(df.iloc[0]["Moves"])

8A+
[{'Id': 1910055, 'Description': 'K18', 'IsStart': False, 'IsEnd': True}, {'Id': 1910056, 'Description': 'K16', 'IsStart': False, 'IsEnd': False}, {'Id': 1910057, 'Description': 'F15', 'IsStart': False, 'IsEnd': False}, {'Id': 1910058, 'Description': 'B11', 'IsStart': False, 'IsEnd': False}, {'Id': 1910059, 'Description': 'A5', 'IsStart': True, 'IsEnd': False}, {'Id': 1910060, 'Description': 'H15', 'IsStart': False, 'IsEnd': False}]

In [6]:
#we only want to extract the description
#such that we have a set of the holds in use
#moonboard size is A-K along the top and 1-18 starting from the bottom up

def get_moves(key):
    """
    Given a letter from A to K and a number from 1 to 18, return the position in the array as a tuple (row, column).
    """
    
    letter = key[0]
    number = int(key[1:])
    columns = 'ABCDEFGHIJK'  # string containing the column labels
    col_index = columns.index(letter)  # get the index of the column label
    row_index = number - 1  # subtract 1 from the row number to get the index
    
    return row_index * 11 + col_index


df["Moves"] = df["Moves"].apply(get_moves)
df

       Grade                                              Moves
341208   8A+                      {K18, K16, A5, F15, B11, H15}
341206   6B+             {F5, E18, H10, E10, E15, G17, F8, G13}
341205   6B+    {F5, G8, I16, H10, E18, E13, E10, E15, I4, G13}
341204   6B+        {F5, E18, H10, E13, E10, E15, G17, F8, G13}
341199    6C  {G2, F5, G10, E7, A14, E18, D17, B9, D15, D12,...
...      ...                                                ...
19219     7A              {F11, F13, D7, I14, A9, D18, C5, E16}
19218     7A               {G4, E6, E12, J5, I18, E16, E8, B10}
19217    6B+                   {F5, C10, J5, E15, F9, I18, G13}
19216    6B+                  {F5, E18, E15, I11, J8, K11, G13}
19215    6B+                   {F11, E6, D15, D18, C5, E8, C13}

[25907 rows x 2 columns]

In [13]:
dups = df.duplicated(subset="Moves",keep=False)

AttributeError: 'Series' object has no attribute 'iterrows'

In [11]:
df["Moves"].value_counts()

{C14, H11, G18, D5, I6, B3, D9}                             3
{G2, I16, F5, E18, E7, H10, E14, J5, E10, E15, G17, C13}    3
{G9, F5, A18, D15, B11}                                     2
{F11, F5, E14, I14, H8, E10, I18, I4}                       2
{B4, C14, I8, H14, D3, H18, F10}                            2
                                                           ..
{G2, H8, D13, C10, G15, H14, B7, I18, I4, C12}              1
{E9, G2, F13, A5, I8, F15, B7, B11, I18, C5}                1
{G9, A18, K5, G6, C10, D15, C13}                            1
{F5, E18, H10, F14, K5, B11}                                1
{F11, E6, D15, D18, C5, E8, C13}                            1
Name: Moves, Length: 25808, dtype: int64

TypeError: unhashable type: 'set'